.main {
  padding: 10px;
}

/* Sider */
.sider {
  background-color: var(--color-bg-1);
  height: 100vh;
  position: relative;
}

.sider .sider-logo {
  padding: 40px 20px;
  border-bottom: 1px solid white;
}

.sider .sider-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sider .sider-info {
  padding: 10px;
  margin: 10px 0 10px 0px;
  border-radius: 10px;
}

.sider .sider-info a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: var(--color-text-1);
}

.sider .sider-info:hover {
  background: #ECB1B34F;
  cursor: pointer;
}

.sider .sider-info .inner-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.sider .sider-info .inner-avatar img {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.sider .sider-menu {
  width: 100%;
}
.sider .sider-menu .sider-menu-item {
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}
.sider .sider-menu .sider-menu-item a {
  display: flex;
  align-items: center;
  color: white;
  
  gap: 15px;
  text-decoration: none;
}

.sider .sider-menu .sider-menu-item:hover {
  background: #ECB1B34F;
}

.sider .sider-menu .sider-menu-active {
  background: #ECB1B34F;
}

.sider .sider-actions {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sider .sider-actions .sider-action {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 15px;
  gap: 15px;
  border-radius: 10px;
}

.sider .sider-actions .sider-action:hover {
  background: #ECB1B34F;
  cursor: pointer;
}
/* End Sider */

/* Header */
.header {
  background-color: var(--color-bg-2);
}

.header .inner-icons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
  padding: 10px 20px 10px 0;
}
/* End Header */