.main {
  background-color: var(--color-bg-2);
}

/* Header */
.header {
  background-color: var(--color-bg-1);
}

.header .header-wrap-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header .header-wrap-1 .header-logo img {
  width: 247px;
  height: 46px;
  object-fit: contain;
}

.header .header-wrap-1 .header-action {
  display: flex;
  align-items: center;
}

.header .header-wrap-1 .header-action .header-login {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.header .header-wrap-1 .header-action .header-login a {
  color: white;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
.header .header-wrap-1 .header-action .header-login a:hover {
  text-decoration: underline;
}

.header .header-wrap-1 .header-action .vertical-divider {
  border: 1px solid var(--color-bg-2);
  height: 40px;
  margin: 0 10px;
}

.header .header-wrap-1 .header-action .header-cart {
  color: var(--color-text-2);
  font-size: 15px;
  font-weight: 700;
}

.header .header-wrap-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header .header-wrap-2 .header-menu {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex: 1;
}
.header .header-wrap-2 .header-menu li {
  width: 100%;
  text-align: center;
}
.header .header-wrap-2 .header-menu li a {
  text-decoration: none;
  color: var(--color-text-2);
  font-weight: 700;
  font-size: 15px;
}

.header .header-wrap-2 .header-box-search .box-search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  position: relative;
}

.header .header-wrap-2 .header-box-search .box-search .input-search {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px 50px 3px 20px !important;
  font-size: 15px;
}

.header .header-wrap-2 .header-box-search .box-search .input-search:focus {
  box-shadow: none !important;
}


.header .header-wrap-2 .header-box-search .box-search .button-search {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 15px;
}

/* End Header */

/* Footer */
.footer {
  background-color: var(--color-bg-2);
  padding: 50px 0;
}

.footer .footer-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer .footer-wrap .footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 20px;
}

.footer .footer-wrap .footer-content ul li {
  margin-bottom: 10px;
}

.footer .footer-wrap .footer-content:last-child ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .footer-wrap .footer-content:last-child ul li {
  background: white;
  border-radius: 5px;
  padding: 3px;
  width: 55px;
  height: 55px;
}

.footer .footer-wrap .footer-content:last-child ul li:nth-child(1) {
  padding: 0;
}

.footer .footer-wrap .footer-content ul li img {
  width: 50px;
  height: 50px;
}

.footer .footer-wrap .footer-content:last-child ul li:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.footer .footer-wrap-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #9B9B9B;
  padding-top: 20px;
}

.footer .footer-wrap-2 .footer-socials {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .footer-wrap-2 .footer-copyright {
  color: #9B9B9B;
  font-size: 15px;
}
/* End Footer */

/* Sider */
.sider {
  height: 100vh;
  position: relative;
  box-shadow: 6px 0px 18px 0px #0000000F;
}

.sider .sider-hello {
  color: var(--color-bg-1);
  padding: 20px 40px 20px 20px;
  font-size: 20px;
  font-weight: 600;
}

.sider .sider-info {
  padding: 10px;
  margin: 10px 0 10px 0px;
  border-radius: 10px;
}

.sider .sider-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-1);
  gap: 20px;
}

.sider .sider-info:hover {
  background: #ECB1B34F;
  cursor: pointer;
}

.sider .sider-info .inner-info {
  flex: 1;
}

.sider .sider-info .inner-avatar {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: fit-content;
}

.sider .sider-info .inner-avatar img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.sider .sider-menu {
  width: 100%;
}
.sider .sider-menu .sider-menu-item {
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}
.sider .sider-menu .sider-menu-item a {
  display: flex;
  align-items: center;
  color: black;
  
  gap: 15px;
  text-decoration: none;
}

.sider .sider-menu .sider-menu-item:hover {
  background: #ECB1B34F;
}

.sider .sider-menu .sider-menu-active {
  background: #ECB1B34F;
}

.sider .sider-actions {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sider .sider-actions .sider-action {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 15px;
  gap: 15px;
  border-radius: 10px;
}

.sider .sider-actions .sider-action:hover {
  background: #ECB1B34F;
  cursor: pointer;
}
/* End Sider */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 130px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  } 
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* End Image Preview */